body {
  background-color: f9f7fe;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #9882d0;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

form {
  padding: 30px;
  background-color: rgb(231, 191, 178);
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  display: flex;
  margin: 30px;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #9882d0;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24 px;
}

.poem {
  font-size: 16px;
  background-color: white;
  padding: 20px;
  line-height: 2;
  border-left: 3px solid #9882d0;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.03);
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}
